<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sticky-note"></span> Todo... you have <span class="label label-info">{{ todos.length }}</span> todos </h1>

        <!-- LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-6">

                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>

                <!-- LOOP OVER THE todos IN $scope.todos -->
                <div class="checkbox" ng-repeat="todo in todos">

                    <div class="row">
                        <div class="col-sm-8">
                            <label>{{ todo.id }} : {{ todo.text }}</label>
                        </div>
                        <div class="col-sm-2"><a href="#/todo/{{ todo.id }}"><button type="submit" class="btn btn-primary"">Edit</button></a></div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" ng-click="deleteTodo(todo.id)">Delete</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                
                <!-- FORM TO CREATE -->
                <div id="sample-form" class="row">
                    <form>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                <input type="text" class="form-control text-center" placeholder="type here.." ng-model="formData.text">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" ng-click="createTodo()">Add</button>
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
</div>